.constraints
    section
        nav
            ul
                li: a(href="http://ricetta.io" class='undim'): h3 Ricetta
                li: a(href="{{handle}}") Personal List
                li: a(href="{{handle}}") Curator

    section
        a(href="{{handle}}" class='undim') Login
