#headerContainerTemplate
    section
        nav
            ul
                li: a(href="http://ricetta.io") Ricetta.io
                li: a(href="{{user}}") Personal List
                li: a(href="{{user}}") Curator

    section
        a(href="{{user}}") {{user}}
