section
    nav
        ul
            li: a(href="http://ricetta.io") Ricetta.io
            li: a(href="{{handle}}") Personal List
            li: a(href="{{handle}}") Curator

section
    a(href="{{handle}}") Login
