section
    nav
        ul
            li: a(href="http://ricetta.io") Ricetta.io
            li: a(href="{{User}}") Personal List
            li: a(href="{{User}}") Curator

section
    a(href="{{User}}") {{User}}
